.title{
    color:white
}

.content{
        margin: 1rem 0;
        background:#f4f4f4;
        color: #000000;
        display:block;
        padding:1rem;
        text-decoration: none;
        font-family: 'Rubik', sans-serif;
        border-radius:25px;
}