.header{
    padding: 1rem 0 3rem;
}

.title{
    color:white;
    font-size: 3rem;
    text-decoration: none;
}

.nav-list{
    display:flex;
    list-style-type:none;
    margin:0
}

.nav-item {
    color:white;
    font-weight:bold;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration:none;
}

.nav-item:hover{
    color:lightskyblue;
}

.active-nav-item{
    color:lightskyblue;
}

